{% load thumbnail %}
{% for clipboard in user.clipboards.all %}
<table style="width: 100%; border: 1px solid #DDDDDD;">
	<thead>
		<th colspan=3>Clipboard</th>
	</thead>
	<tbody>{% if clipboard.files.count %}{% for item in clipboard.files.all %}
		<tr>
			<td><img src="{{ item.file.extra_thumbnails.admin_clipboard_icon }}" alt="{{ item.default_alt_text }}" /></td>
			<td>{{ item.label }}</td>
			<td></td>
		</tr>
		{% endfor %}
	{% else %}
		<tr>
			<td colspan=3 style="color: gray;text-align: center; height: 48px; vertical-align: middle;">the clipboard is empty</td>
		</tr>
	{% endif %}
	</tbody>
	<tfoot>
		<tr>
			<td colspan=3>
				<form action="{% url image_filer-paste_clipboard_to_folder %}" method="post" style="display: inline;">
					<input type="hidden" name="folder_id" value="{{ folder.id }}" />
					<input type="hidden" name="clipboard_id" value="{{ clipboard.id }}" />
					<input type="hidden" name="redirect_to" value="{{ current_url }}" />
					{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
					<input type="submit" value="&larr;"{% if folder.is_root %} disabled="disabled" style="color: gray;"{% endif %} />
				</form>
				<form action="{% url image_filer-discard_clipboard %}" method="post"  style="display: inline;">
					<input type="hidden" name="clipboard_id" value="{{ clipboard.id }}" />
					<input type="hidden" name="redirect_to" value="{{ current_url }}" />
					{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
					<input type="submit" value="discard" />
				</form>
				<form action="{% url image_filer-delete_clipboard %}" method="post"  style="display: inline;">
					<input type="hidden" name="clipboard_id" value="{{ clipboard.id }}" />
					<input type="hidden" name="redirect_to" value="{{ current_url }}" />
					{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
					<input type="submit" value="delete files" />
				</form>
			</td>
		</tr>
	</tfoot>
</table>
<ul>
	
</ul>



{% comment %}
<form action="{% url image_filer-clone_files_from_clipboard_to_folder %}" method="post">
	<input type="hidden" name="folder_id" value="{{ folder.id }}" />
	<input type="hidden" name="clipboard_id" value="{{ clipboard.id }}" />
	<input type="hidden" name="redirect_to" value="{{ current_url }}" />
	<input type="submit" value="clone to folder" />
</form>
{% endcomment %}
{% endfor %}
	