{% load i18n %}
{% load adminmedia %}
<div id="toolbartable">
        <table cellspacing="0">
            <thead>
			    <tr class="{% cycle 'row1' 'row2' as rowcolors %}">
				    <!-- THUMB -->
				    <th>&nbsp;</th>
				    <!-- FILENAME / FOLDERNAME / DIMENSIONS / OWNER -->
					<th><a href="?{{ query.query_nosort }}&amp;ot=asc&amp;o=11">{% trans 'Name' %}</a></th>
					<th></th>
					<th></th>
			    </tr>
			</thead>
            <tbody>
            {% for folder in folder_children %}
                <tr class="{% cycle rowcolors %}">
				    <!-- FileIcon -->
				    <td><a href="{% url image_filer-directory_listing folder.id %}"><img src="/media/img/icons/plainfolder_32x32.png" alt="Folder Icon" /></a></td>
				    <!-- Filename/Dimensions -->
				    <td>
				    	<div><b><a href="{% url image_filer-directory_listing folder.id %}">{{ folder.name }}</a></b></div>
						<div>owner: {{ folder.owner }} Folders: {{ folder.children_count }} Images: {{ folder.file_count }}</div>
					</td>
					<td><a class="changelink" href="/admin/image_filer/folder/{{ folder.id }}">Change</a></td>
					<td></td>
				</tr>
            {% endfor %}
			{% for file in folder_files %}
                <tr class="{% cycle rowcolors %}">
				    <!-- FileIcon -->
					<td>{% if file.get_admin_tiny_thumbnail_url %}<a href="/admin/image_filer/image/{{ file.id }}/"><img src="{{ file.get_admin_tiny_thumbnail_url }}" alt="{{ file.default_alt_text }}" /></a>{% endif %}</td>
				    <!-- Filename/Dimensions -->
				    <td>
				    	<div><b><a href="/admin/image_filer/image/{{ file.id }}/">{{ file.label }}</a></b></div>
						<div><span class="tiny">{{ file.file.width }} x {{ file.file.height }} px</span></div>
						<div>owner: {{ file.owner }}</div>
						{% if not file.is_original %}<div>clone</div>{% endif %}
						{% if file.has_all_mandatory_data %}<div><img alt="0" src="/media/admin/img/admin/icon-yes.gif" /> has all mandatory metadata</div>{% else %}<div><img alt="1" src="/media/admin/img/admin/icon-no.gif"/> missing metadata!</div>{% endif %}
					</td>
					<td><a class="changelink" href="/admin/image_filer/image/{{ file.id }}">Change</a></td>
					<td style="text-align: right;">
						<form action="{% url image_filer-move_file_to_clipboard %}" method="post">
							<input type="hidden" name="file_id" value="{{ file.id }}" />
							<input type="hidden" name="redirect_to" value="{{ current_url }}" />
							<input type="submit" value="&rarr;" />
						</form>
					</td>
				</tr>
            {% endfor %}
			{% if not folder.is_root%}{% ifequal folder.item_count 0 %}
			<tr class="{% cycle rowcolors %}">
				    <!-- FileIcon -->
				    <td colspan="4" class="row1" style="text-align: center;vertical-align: middle;height:128px;color: gray;"> there are no files or subfolders</td>
				</tr>
			{% endifequal %}{% endif %}
            </tbody>
        </table>
        </div>