{% load adminmedia %}
{% load i18n %}

<tr>
    <!-- FileIcon -->
    <td>{% if file.has_all_mandatory_data %}<img alt="0" src="/media/admin/img/admin/icon-yes.gif"/>{% else %}<img alt="1" src="/media/admin/img/admin/icon-no.gif"/>{% endif %}</td>
	<td>{% if file.get_admin_thumbnail_url %}<img src="{{ file.get_admin_thumbnail_url }}" alt="{{ file.default_alt_text }}" />{% endif %}</td>
    <!-- Filename/Dimensions -->
    <td><b><a href="/admin/image_filer/image/{{ file.id }}/">{{ file.label }}</a></b><br /><span class="tiny">{{ file.file.width }} x {{ file.file.height }} px</span></td>
	<td>{{ file.owner }}</td>
	<td>{{ file.perms }}</td>
	<td>{{ request }}
		<form action="{% url image_filer-put_file_in_bucket %}" method="post">
			<input type="hidden" name="file_id" value="{{ file.id }}" />
			<input type="hidden" name="redirect_to" value="{{ current_url }}" />
			<input type="submit" value="put in bucket" />
		</form>
	</td>
</tr>
 