{% load i18n admin_modify adminmedia %}

{# <input type="file" name="fileInput" id="fileInput" /> #}
{% comment %}
<a href="#" class="addlink" style="padding: 0;height: 14px;width:50px;padding-left;position: relative;">
	<div style="position: absolute;top: 0;left: 0;padding:0.1em 14px 0.1em 8px;">upload</div>
	<span id="fileInput" style=""></span>
	<div style="clear:both;"></div>
</a>
{% endcomment %}
<a href="" id="fileUploadFakeLink" class="addlink">{% trans "Upload" %}<div id="fileInputUploaderContainer"><span id="fileInput" style=""></span></div></a>
<script type="text/javascript">
$(document).ready(function() {
	$('#fileInput').fileUpload ({
		'uploader'  : '{{ MEDIA_URL }}image_filer/js/jquery.uploadify-v1.6.2/uploader.swf',
		'script'    : '{% url image_filer-ajax_upload %}',
		'cancelImg' : '{{ MEDIA_URL }}image_filer/img/close.gif',
		'hideButton': true,
		'auto'      : true,
		'folder'    : '',
		'multi'		: true,
		'buttonText': 'upload',
		'width'		: '100',
		'height'	: 16,
		'wmode'		: 'transparent',
		'simUploadLimit': 3,
		'scriptData':{'stuff':'there','jsessionid':$.cookie('sessionid')},
		'onAllComplete': function() {
				setTimeout(closeTheWindow(),1000);
			}
	});
});
function closeTheWindow() {
	//alert('going to close the window...');
	opener.dismissPopupAndReload(window);
};
</script>