{% extends "image_filer/base.html" %}
{% load i18n %}
{% load adminmedia %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.lightbox-0.5.js"></script>
<link rel="stylesheet" type="text/css" href="css/jquery.lightbox-0.5.css" media="screen" />

<script type="text/javascript">
$(document).ready(function(){
	alert('hello world');
});
</script>


{% endblock %}

{% block coltype %}colMS{% endblock %}


{% block extrastyle %}{{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
	<a href="/admin/">Home</a> › <a href="/admin/image_filer/">Image Portfolio</a> › 
	<a href="{% url image_filer-directory_listing-root %}">Root</a>
	{% for ancestor_folder in folder.get_ancestors %}
	 › <a href="{% url image_filer-directory_listing ancestor_folder.id %}">{{ ancestor_folder.name }}</a>
	 {% endfor %} › 
	 {{ folder.name }}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
	{% include "image_filer/include/clipboard.html" %}
</div>
{% endblock %}


{% block content %}
<h1>Directories</h1>
<div id="content-main">
	<ul class="object-tools">
        <li><a id="newFolderButton" href="{% url image_filer-upload %}" class="addlink">{% trans "New Folder" %}</a></li>
        <li><a id="uploadButton" href="{% url image_filer-upload %}" class="addlink">{% trans "Upload" %}</a></li>
    </ul>
    <div class="module" id="changelist">
        <div id="toolbartable">
        <table cellspacing="0">
            <thead>
			    <tr class="{% cycle 'row1' 'row2' as rowcolors %}">
				    <!-- THUMB -->
				    <th>&nbsp;</th>
				    <!-- FILENAME / FOLDERNAME / DIMENSIONS / OWNER -->
					<th><a href="?{{ query.query_nosort }}&amp;ot=asc&amp;o=11">{% trans 'Name' %}</a></th>
					<th></th>
					<th></th>
			    </tr>
			</thead>
            <tbody>
            {% for folder in folder_children %}
                <tr class="{% cycle rowcolors %}">
				    <!-- FileIcon -->
				    <td><img src="/media/img/icons/plainfolder_128x128.png" alt="Folder Icon" /></td>
				    <!-- Filename/Dimensions -->
				    <td>
				    	<div><b><a href="{% url image_filer-directory_listing folder.id %}">{{ folder.name }}</a></b></div>
						<div>{{ folder.owner }}</div>
					</td>
					<td></td>
					<td></td>
				</tr>
            {% endfor %}
			{% for file in folder_files %}
                <tr class="{% cycle rowcolors %}">
				    <!-- FileIcon -->
					<td>{% if file.get_admin_thumbnail_url %}<img src="{{ file.get_admin_thumbnail_url }}" alt="{{ file.default_alt_text }}" />{% endif %}</td>
				    <!-- Filename/Dimensions -->
				    <td>
				    	<div><b><a href="/admin/image_filer/image/{{ file.id }}/">{{ file.label }}</a></b></div>
						<div><span class="tiny">{{ file.file.width }} x {{ file.file.height }} px</span></div>
						<div>owner: {{ file.owner }}</div>
						{% if not file.is_original %}<div>clone</div>{% endif %}
						{% if file.has_all_mandatory_data %}<div><img alt="0" src="/media/admin/img/admin/icon-yes.gif" /> has all mandatory metadata</div>{% else %}<div><img alt="1" src="/media/admin/img/admin/icon-no.gif"/> missing metadata!</div>{% endif %}
					</td>
					<td></td>
					<td style="text-align: right;">
						<form action="{% url image_filer-move_file_to_clipboard %}" method="post">
							<input type="hidden" name="file_id" value="{{ file.id }}" />
							<input type="hidden" name="redirect_to" value="{{ current_url }}" />
							<input type="submit" value="&rarr;" />
						</form>
					</td>
				</tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

{% endblock %}