{% extends "image_filer/base.html" %}
{% load i18n %}
{% load adminmedia %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="/media/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript">	
function dismissPopupAndReload(win) {
	// handle when a popup window is closed and reload the page
	//alert("it happended!");
	window.location.reload();
	win.close();
}

</script>
{% endblock %}

{% block coltype %}colMS{% endblock %}


{% block extrastyle %}{{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
	<a href="/admin/">Home</a> › <a href="/admin/image_filer/">Image Portfolio</a> › 
	<a href="{% url image_filer-directory_listing-root %}">Root</a>
	{% for ancestor_folder in folder.get_ancestors %}
	 › <a href="{% url image_filer-directory_listing ancestor_folder.id %}">{{ ancestor_folder.name }}</a>
	 {% endfor %} › 
	 {{ folder.name }}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
	{% include "image_filer/include/clipboard.html" %}
</div>
{% endblock %}

{% block content_title %}<h1>{% if not folder.is_root %}{% if folder.parent %}<a href="{% url image_filer-directory_listing folder.parent.id %}">&larr;</a>{% else %}<a href="{% url image_filer-directory_listing-root %}">&larr;</a>{% endif %}{% else %}&mdash;{% endif %}<img src="/media/img/icons/plainfolder_32x32.png" alt="Folder Icon" /> {{ folder.name }}{% if not folder.is_root %}
 <span class="small quiet">({% blocktrans count folder.children_count as counter %}1 folder{% plural %}{{ counter }} folder{% endblocktrans %}, {% blocktrans count folder.file_count as counter %}1 file{% plural %}{{ counter }} files{% endblocktrans %}){% endif %}</span></h1>{% endblock %}
{% block content %}
<div id="content-main">
	<ul class="object-tools">
		<li><a id="id_missing_data_images" href="{% url image_filer-directory_listing-images_with_missing_data %}" class="link">Images with missing mandatory data</a></li>
		<li><a id="id_unfiled_images" href="{% url image_filer-directory_listing-unfiled_images %}" class="link">Unfiled Images</a></li>
		<li><a id="id_new_folder" href="{% url image_filer-directory_listing-make_root_folder %}?parent_id={{ folder.id }}" class="addlink" onclick="return showAddAnotherPopup(this);">{% trans "New Folder" %}</a></li>
		<li><a id="id_upload_files" href="{% url image_filer-upload %}" class="addlink" onclick="return showAddAnotherPopup(this);">{% trans "Upload" %}</a></li>
    </ul>
	
    <div class="module" id="changelist">
    	{% include "image_filer/include/search_form.html" %}
        {% include "image_filer/include/directory_table.html" %}
    </div>
</div>

{% endblock %}