{% load i18n admin_modify adminmedia %}

<input type="file" name="fileInput" id="fileInput" />
<script type="text/javascript">
$(document).ready(function() {
	$('#fileInput').fileUpload ({
		'uploader'  : '/media/image_filer/js/jquery.uploadify-v1.6.2/uploader.swf',
		'script'    : '{% url image_filer-ajax_upload %}',
		'cancelImg' : '/media/image_filer/js/jquery.uploadify-v1.6.2/cancel.png',
		'auto'      : true,
		'folder'    : '',
		'multi'		: true,
		'buttonText': 'select files',
		'simUploadLimit': 1,
		'scriptData':{'stuff':'there','jsessionid':$.cookie('sessionid')},
		'onAllComplete': function() {
				setTimeout(closeTheWindow(),1000);
			}
	});
});
function closeTheWindow() {
	//alert('going to close the window...');
	opener.dismissPopupAndReload(window);
};
</script>