{% extends "admin/change_form.html" %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/admin/">Home</a> › <a href="/admin/image_filer/">Image Portfolio</a>{% if original.folder %} › <a href="{% url image_filer-directory_listing-root %}">Root</a>{% for ancestor_folder in original.folder.get_ancestors %} › <a href="{% url image_filer-directory_listing ancestor_folder.id %}">{{ ancestor_folder.name }}</a>{% endfor %} › <a href="{% url image_filer-directory_listing original.folder.id %}">{{ original.folder.name }}</a>{% endif %} › {{ original }}</div>{% endblock %}

{% block coltype %}colMS{% endblock %}
{% block sidebar %}
<div id="content-related">
    <div id="navcontainer">
    	<a href="{{ original.file.url }}"><img src="{{ original.get_admin_sidebar_thumbbnail_url }}" alt="{{ original.label }}" /></a>
        <ul id="navlist">
            <li>original filename: {{ original.original_filename }}</li>
            {% ifequal form.data.is_shareholder 1 %}
            <li><a href="/admin/manager/shareholders/{{ form.data.id }}/">Show shareholder data for {{ form.data.id }}</a></li>
            {% endifequal %}
			{% if original.children.all %}
			<li>Children:
				<ul>{% for image_child in original.children.all %}
					<li>{{ image_child.admin_thumbnail|safe }}{{ image_child.label }}</li>{% endfor %}
				</ul>
			</li>
			{% endif %}
        </ul>
    </div>
</div>
{% endblock %}